.DS_Store

!index.php

/application/config*
!application/config/database.php
!/application/config/config.php

/application/views/*
!application/views/login.php

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess